#features {
    background-color: #f3f8fb;
    padding: 3% 4%;
}
.features-list-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 10px;
}
.features-card {
    max-width: 360px;
    margin-right: 10px;
    text-align: center;
}
.features-card:last-child {
    margin-right: 0px;
}
.card-main-header {
    font-family: Galano-SemiBold;
    display: block;
    margin: 25px 0 15px;
}
.card-subtext {
    display: block;
    color: #6f6f6f;
}