#footer {
    padding: 3% 4% 0%;
    background-color: #000000;
    color: #c9c9c9;
}
.footer-links {
    padding-bottom: 10px;
    border-bottom: 1px solid #454343;
    display: flex;
}
.footer-links-wrap {
    flex: 1 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: 100px;
}
.footer-logo-wrap {
    padding-top: 5px;
}
.company-details-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.made-in-logo {
    width: 60px;
    height: 15px;
}
.company-rights {
    font-size: 11px;
}
.footer-links-wrap ul {
    margin: 0;
    padding: 0;
}
.footer-links-wrap li {
    list-style: none;
    margin: 10px 0;
}
.footer-links-wrap a {
    text-decoration: none;
    color: #c9c9c9;
    font-size: 13px;
}
.badge {
    background-color: #FFF;
    margin-left: 4px;
    color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}