#header {
    background-color: #146eb4;
    position: relative;
    z-index: 1;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4% 8%;
}
.logo {
    width: 110px;
}
#sign-in {
    color: white;
    margin-right: 25px;
    text-decoration: none;
}
#menu-button {
    background-color: #ffffff;
    padding: 10px 15px;
    border: none;
    color: #146eb4;
    font-family: Galano-Regular;
    cursor: pointer;
}

