#other-products {
    background-color: #FFFFFF;
    padding: 3% 4%;
}
#other-products-header {
    font-family: Galano-SemiBold;
}
.card {
    max-width: 370px;
    margin-right: 10px;
}
.card:nth-child(3) {
    margin-right: 0px;
}
.card img {
    width: 100%;
}
.card-body {
    margin-bottom: 30px;
}
.card-header {
    font-family: Galano-Medium;
    margin: 10px 0 5px;
}
.card-subheader {
    margin: 10px 0;
    color: #6f6f6f;
    font-size: 12px;
}
.products-list-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 10px;
}