#slogan-maker {
    padding: 0% 4% 4%;
    margin-top: -5%;
    /* margin-bottom: 5%; */
    background-color: #fafafa;
}
.slogan-maker-container {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    border-radius: 2px;
    background: #FFFFFF;
    padding: 2% 12%;
    position: relative;
    z-index: 2;
}
#slogan-maker-header {
    font-family: Galano-SemiBold;
    margin: 10px 0;
}
#slogan-maker-description {
    color: #777777;
    margin: 0;
    font-size: 14px;
}
.form-container {
    margin-top: 30px;
}
.input-label {
    display: block;
    font-size: 14px;
    color: #777777;
    margin-bottom: 12px;
}
#search {
    padding: 9px;
    width: 250px;
    border: 1px solid #c7c7c7;
    margin-bottom: 4px;
    outline: none;
    font-family: Galano-Regular;;
}
#submit-btn {
    margin-top: 30px;
    display: block;
    background-color: #146eb4;
    color: #FFFFFF;
    border: none;
    font-family: Galano-Regular;
    padding: 10px 30px;
    cursor: pointer;
}
#submit-btn:disabled {
    background-color: #adadad;
    cursor: not-allowed;
}
.error {
    color: red;
    font-size: 10px;
    display: block;
}
#results {
    margin-top: 40px;
    border-top: 1px solid #c7c7c7;
    padding: 30px 0 10px;
}
#loading {
    display: block;
    text-align: center;
    padding-top: 10px;
}
#loading img {
    width: 40px;
}
.sentences-wrap {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}
.sentence {
    display: block;
    padding: 10px;
    background-color:#f2f2f2;
    color: #000000;
    margin: 6px 0;
    font-size: 12px;
    width: calc(50% - 50px);
    cursor: pointer;
    letter-spacing: 0.0345rem;
}
.pagination-wrap {
    margin-top: 40px;
    border-top: 1px solid #c7c7c7;
    padding-top: 30px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paging {
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #000000;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.paging.active {
    background-color: #146eb4;
    color: #FFFFFF;
}
.next-page {
    color: #146eb4;
    cursor: pointer;
}