@font-face {
    font-family: 'Galano-Medium';
    src: local('Galano-Medium'), url(./Assets/Fonts/galanogrotesque-medium.otf) format('opentype');
}

@font-face {
    font-family: 'Galano-Regular';
    src: local('Galano-Regular'), url(./Assets/Fonts/galanogrotesque-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Galano-SemiBold';
    src: local('Galano-SemiBold'), url(./Assets/Fonts/galanogrotesque-semibold.otf) format('opentype');
}
body {
    margin: 0;
    font-family: 'Galano-Regular';
}
